{
  "extends": [
    "eslint:recommended",
    "fbjs-opensource",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "react/prop-types": 0,
    "no-duplicate-imports": 0
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "jsx": true
  },
  "plugins": ["react", "flowtype"]
}
