# Node Modules
node_modules

# Build Folder
build

# Cache Folders
.cache-loader-renderer
.cache-loader-electron

# Flow Type
flow-typed

# Python
Include
Lib
Scripts
tcl
.Python
bin

# Quick Translator
/QuickTranslator
